body {
	margin: 0;
	margin-top: 50px;
	padding: 0;
	background-color: navy;
}

.nav_list_item a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_list_item a:hover {
	background-color: #111111;
}

#nav_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333333;
	display: flex;
}

#nav_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.large_title {
	font-size: 80px;
	margin: 1rem auto;
	padding: 1rem;
}

.child_boarder {
	border: 5px inset black;
}

.main_div_style {
	display: flex;
	flex-direction: column;
	background-color: gray;
	border: 10px ridge darkgray;
	padding: 20px;
	width: 90%;
	height: 1000px;
	margin: auto;
}


.default_form_style {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.input_div {
	display: flex;
	border: 1px inset;
	width: 15%;
	justify-content: start;
}

.text_input_label {
	width: 30%;
}

.large_button {
	font-size: 50px;
	padding: 10rem 5rem;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	background-color: orange;
	text-decoration: none;
	border-right-style: outset;
	border-bottom-style: outset;
	border-radius: 2rem;
}

.large_button:hover {
	background-color: darkorange;
}

.center_spaced_flex {
	display: flex;
}